body{
    font-family: 'latoregular' !important;
    font-size: 1.5rem !important;
}
a:hover {
 cursor:pointer;
}

.filter{
  filter: sepia(80%);
}

#myCarousel{
  width: 100%;
  text-align: center;
}

#link_tw{
  display: none;
}

.imgRound{
    margin-left: -30px;
    height: 150px !important;
    width: 150px !important;
}
.itemRegistro{
    text-align: left;
    width: 95%;
    border-radius: 3.25rem!important;
    background: #f0e9d9 !important;
    margin-left: 30px;
}

.titleItemReg{
  margin-left: -50px;
  margin-top: 20px;
  font-size: 16pt;
  color: #c4a467;
  font-family: 'latoregular' !important;
}
.subtitleItemReg{
  margin-left: -50px;

  font-size: 17pt;
  color: #757774;
  font-family: 'latoregular' !important;
}
.paisItemReg{
  margin-top: 10px;
  font-size: 14pt;
  color: #757774;
  font-family: 'latoregular' !important;
}
.minititleItemReg{
  margin-left: -50px;
  margin-top: 10px;
  font-size: 12pt;
  color: #757774;
  font-family: 'latoregular' !important;
}
.txtVer{
  position: absolute;
    font-size: 19pt;
    line-height: 6;
    color: white;
    size: 20pt;
    height: 60%;
    width: 70%;
text-align: center;
    padding-left: 10px;
}

.btnVer{
  position: absolute;
    background-color: #f5998c;
    width: 80%;
    height: 100%;
    border-bottom-right-radius: 2.25em;
    border-top-right-radius: 2.25em;
}

.btn{
    font-size: 1.7rem !important;
}

.item_pack{
  width: 96%;
  background-color: #f0e9d9 !important;
  height: 300px;
  border-radius: 50px;
  margin-left: 15px;
}

.item_pack .item_img{
  float: left;
    height: 90%;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 15px;
}
.item_pack .item_img2{
  float: left;
  border-radius: 20px;
  margin-top: 15px;
}
.item_pack .bodyText{
  width: 90%;
  text-align: left;
  padding: 10px;
  font-size: 9pt;
  line-height: 17px ;
}
.containerPack_title{
  text-align: left;
  margin-left: 40px !important;
  font-size: 18pt;

}

.textGold{
  color: #BDA16B
}

.btn_infoPack{
  background-color: #f5998c;
  /* text-align: center; */
  color: white;
  font-size: 9pt;
  height: 30px;
  /* padding: 6px; */
  padding-top: 5px;
  margin-left: 60px;
  padding-right: 25px;
}

.text_pack_include{
  text-align: left;
  margin-top: 15px;
  margin-left: -17px;
  font-size: 10pt;
}
.text_pack_price{
  text-align: right;
  margin-top: 10px;
}
.text_pack_price .price_txt{
  font-family: latoregular !important;
  font-size: 20pt;
}


#titleReg{

    text-align: center;
    padding-top: 60px;
}
#subtitleReg{
  text-align: center;

  padding-top: 30px;
  padding-left: 140px;
  padding-right: 140px;
}

.removeSpaces{
      padding: 0 !important;
      margin: 0 !important;
}

.contactBox{
    height: 450px;
    padding: 20px;
    width: 70%;
    background-color: white;
    border: 15px solid #d8d8d8;
    margin-bottom: -300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
#mapList{
  text-align: center;
  width: 100%;
  mix-blend-mode: darken;
}
#imgMap{
  margin-left: -7px;
  margin-top: 50px;
  margin-bottom: -50px;
}

.imgFooter{
    margin-top: -40px;
}

.contactBox input {
    color: darkgray;
    font-style: normal;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: dashed;
}

.policyText{
    font-size: 8pt;
    font-style: italic;
}

.contactBottom input {
    color: darkgray;
    font-style: normal;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: dashed;
}

.bodyContact{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-style: italic;
    line-height: 40px;
}

.bodyMargin{
    margin-top: 160px;
}

.anchor{
    display: block;
    height: 285px; /*same height as header*/
    margin-top: -285px; /*same height as header*/
    visibility: hidden;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #db7d6f !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #db7d6f !important;
}
.centerHeader{
    margin-left: auto;
    margin-right: auto;
    padding: 0px !important;
}
.offset-btn{
    margin-left: 20px;
    margin-top: 70px;
    color: #BDA16B;
    margin-right: 20px;
}
.nav-sm-md-btn{
    margin-left: 0px;
    margin-top: 30px;
    font-size: 10pt;
    color: #BDA16B;
    margin-right: 0px;
}
.textCenter{
    text-align: center;
}
.btnSoon{
    margin-top: 50px;
}
.footerText{
    text-align: center;
    color: #BDA16B;
}
.navSections2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.controls-custom{
    margin-top: 20px;
    float: right;
}

.bgColorHeader{
    background-color: #fff;

}
.bgColorBarHeader{
    background-color: #BDA16B;
    height: 20px;
}
.bgColorBarHeader-xs{
    background-color: #BDA16B;
    height: 60px;
}
.bgColorBarHeader-sm{
    background-color: #BDA16B;
    height: 10px;
}
.title{
  width: 100%;
  margin-top: 50px;
font-family: 'latoblack' !important;
color: #BDA16B;
letter-spacing: 5px;
font-size: 22pt;
}

.textWithIcon{
    width: 20%;
    margin-left: 20px;
    text-align: justify;
    margin-right: 20px;
}

.subtitle{
     margin-top: 50px;
     color: #BDA16B;
     letter-spacing: 7px;
     font-size: 16pt;
}
.titleContact{

    font-family: 'latoblack' !important;
    color: #BDA16B;
    letter-spacing: 10px;
    font-size: 20pt;
}

.contactBottom{

    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px;
    align-items: flex-end;
}

.bodyText{
    color: #373737;
    font-size: 11pt;
    line-height: 25px;
    letter-spacing: 1px;

}

.bgSection2{
  text-align: center;
    background-image: url("../img/h2.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 100px;
    height: 1024px;
}


.containerSection{
    width: 80% !important;
    height: 510px;
    position: absolute;
    margin-left: 55px !important;
    background-color: #ffffffbf;
}

.bg-carrousel{
    width: 100%;
    background-color: #00000057;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;

    top: 5px;
    left: 5px !important;
    bottom: 0px !important;
    padding: 0px !important;
}
.over-carrousel {
    opacity: 0;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
.over-carrousel:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​

.textCenterCar {
     margin-top: 46px;
 }

.menuFloat{
    padding: 10px;
    width: 60%;
    margin-top: 12px;
}


.titleSection3{
    text-align: center;
}
.bodySection3{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.marginContainer{
    margin-top: 100px;
}



.indicator-sm{
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
}

.menuBtnHeader-xs{
    font-size: 12pt;
    margin-left: 5px;
}


#myCarousel p
{
    font-family: latolight !important;
}
#myCarousel h6
{
    font-size: 2rem !important;
    font-family: latolight !important;
}

.iconHeader-xs-phone{
    font-size: 20pt;
    color: white;
}
.titleHeader-xs{
    text-align: center;
    margin-top: 8px;
    color: white;
    font-size: 13pt;
}

hr {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    border: 0;
    border-top: 1px solid rgba(189, 161, 106, 1)!important;
}

@media (min-width: 1776px) {
    .containerSection{
        width: 60% !important;
        height: 510px;
        position: absolute;
        margin-left: 55px !important;
        background-color: #ffffffbf;
    }
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%; }

}

#navbarTogglerDemo01{
  position: absolute;
  margin-top: 50px;
  width: 350px;
}

.containerNewD{
  background-color: #ffffffbf;
    padding: 20px;
}

.centerSmall{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.fixCenter{
    margin-left: 100px !important;
}

.btnContact{
    margin-bottom: 20px !important;
    margin-left: 50px !important;
}

.centerFooter{
    width: 60% !important;
}

#footer{
    margin-top: 40px;
    margin-bottom: 20px;
}

#footer p{
    color: #BDA16B;
    letter-spacing: 1px;
    font-size: 8pt;
    margin-left: 5px;
    margin-top: 6px;
    font-family: latolight !important;
}
#footer ul{
    text-align: center;
}
#footer a{
    color: #BDA16B;
    text-decoration: none;
}
#footer #social_btns a{
    color: #BDA16B;
    font-size: 20pt;
    text-decoration: none;
}


#footer li{
    font-family: 'latobold' !important;
    color: #BDA16B;
    letter-spacing: 1px;
    font-size: 6pt;
}

#footer .bodyTextFooter{
    color: grey;
    letter-spacing: 1px;
    font-size: 5pt;
    text-align: center;
}

#body_carrousel{
    height: 360px;
    overflow: auto;
}

#carouselContainer{


}

@media (max-width: 574px) {
    .bgSection2 {
        background-image: url(../img/h2.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 120px;
        height: 1200px;
        text-align: center;

    }

    .title{
      width: 100%;
        text-align: center;
        font-size: 16pt;
        letter-spacing: 5px;
    }

    .titleContact{
        text-align: center;
        font-size: 16pt;
        letter-spacing: 5px;
    }

    .bodySection3 {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .imgFooter{
        margin-top: 170px;
    }

    #carouselContainer{
      height: 315px;
      width: 340px
    }

}




@media (max-width: 993px) {
    .bodyMargin{
        margin-top: 60px;
    }

    .contactBox {
        height: 840px;
    }

    .contactBottom {
        text-align: center;
        margin-top: 50px;
    }

    #footer p {
        color: #BDA16B;
        letter-spacing: 1px;
        font-size: 9pt;
        text-align: center;
    }


    .btnContact{
        margin-bottom: 0px !important;
        margin-left: 0px !important;
    }
}

.carousel-multi-item-2 .card img {
    border-radius: 2px; }
